# Kaggle: Titanic - Machine Learning from Disaster
By: Jaklyn Soler

The titanic machine learning competition provided by Kaggle is designed to be a good machine learning competition for a beginner. The competition is simple: use machine learning to create a model that predicts which passengers survived the Titanic shipwreck.

source: https://www.kaggle.com/c/titanic/overview

# Background Information

My understanding of the evacuation process is that women and children were prioritized over the men. Additionally, class definitely played a role during that time period with upper decks being reserved for first class passengers.

### The History of the Titanic

RMS Titanic was a British passenger liner operated by the White Star Line that sank in the North Atlantic Ocean on 15 April 1912, after striking an iceberg during her maiden voyage from Southampton to New York City.

 - The Titanic had advanced safety features, such as watertight compartments and remotely activated watertight doors. The ship carried 16 lifeboat davits which could lower three lifeboats each, for a total of 48 boats. However, Titanic carried only a total of 20 lifeboats, four of which were collapsible and proved hard to launch during the sinking.[8] The carried lifeboats were enough for 1,178 people—about half the number on board, and one third of her total capacity—due to the maritime safety regulations of those days. Though at the time of the sinking the lowered lifeboats were only about half-filled.

source: https://en.wikipedia.org/wiki/Titanic

### Provided Data

Kaggle provides the training data (training.csv) and test data (test.csv) without revealing the exact parameters that determined whether a passenger survived the crash of the titanic.

# Approach

This is a binary classification problem. My approach is to clearly understand each column, clean and clarify each data cell, and use several types of models to see which one performs the best and use SHAP values to interpret the extent to which the features are affecting the model.

### Accuracy or Recall?

In the context of optimizing for accuracy or recall, this question must be asked: Is a false positive or false negative more detrimental? 

- A false positive would be a prediction that a passenger died when in reality, they did not. 
- A false negative would be a prediction that a passenger did not die when in reality they did. 

Considering that this could potentially be used to predict who survived, both would be bad, so we can use: 

the other thing from the notes.

# Importing Relevant Packages

In [4]:
import pandas as pd

# Importing the Data

In [6]:
training = pd.read_csv('DATA/train.csv')

In [7]:
training.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
training.shape

(891, 12)

Cabins are unknown but ticket would likely correlate to the ticket so that it could be filled and used.

In [ ]:
what is parch

### Are the passenger ID numbers unique?

Yes.

In [11]:
training.PassengerId.nunique()

891

### What is Parch?

In [12]:
training.Parch.nunique()

7

In [14]:
training.Parch.value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

### What is Embarked?

In [15]:
training.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64